.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  height: 100vh;
}

.chat__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding: 5px;
  background-color: #e7e7e7;
}

.chat__headerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__headerLeftInfo {
  margin-top: 10px;
}

.chat__body {
  border-bottom: 1px solid lightgray;
  flex: 1;
  background-image: url("../images/bcg.jpg");
  padding: 0 50px;
  padding-top: 20px;
  overflow: hidden;
}

.chat__bodyNoId {
  background-color: rgb(248, 249, 251);
  flex: 1;
  display: grid;
  place-items: center;
}

.chat__bodyNoIdContainer {
  display: grid;
  place-items: center;
}

.chat__bodyNoIdContainer > img {
  height: 400px;
  width: 400px;
  margin-bottom: 40px;
}

.chat__bodyNoIdContainer > p {
  text-align: center;
  margin-bottom: 10px;
}

.chat__footer {
  display: flex;
  background-color: #e7e7e7;
}

.chat__input {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 45px;
  background-color: #e7e7e7;
  padding: 10px;
  width: 100%;
}

form {
  width: 100%;
}

.chat__inputContainer {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: 40px;
}

.chat__inputContainer > input {
  border: none;
  outline: none;
  margin-left: 10px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

input::-webkit-input-placeholder {
  font-weight: 550;
}

.chat__inputContainer > button {
  display: none;
}

@media only screen and (max-width: 860px) {
  .chat__bodyNoIdContainer > img {
    height: 200px;
    width: 200px;
  }
}
